[data-theme='villas'] {
  --alert-base-border-radius: 0.75rem;
  --alert-base-text: 400 0.875rem/1.25rem 'Open Sans', open-sans-normal-400-fallback,sans-serif;
  --alert-base-text-color: #465568;
  --alert-base-border: 1px solid;
  --alert-base-padding: 1rem;
  --alert-title-text: 600 0.875rem/1.25rem 'Open Sans', open-sans-normal-400-fallback,sans-serif;
  --alert-title-text-color: #0F1729;
  --alert-title-margin-bottom: 0.25rem;
  --alert-icon-base-width: 1.25rem;
  --alert-icon-base-height: 1.25rem;
  --alert-icon-base-margin-right: 0.75rem;
  --alert-icon-error-color: #D92C21;
  --alert-icon-warning-color: #DB6702;
  --alert-icon-success-color: #029754;
  --alert-icon-info-color: #166FEE;
  --alert-error-border-color: #D92C21;
  --alert-error-background-color: #FEF2F1;
  --alert-warning-border-color: #DB6702;
  --alert-warning-background-color: #FFFAEA;
  --alert-success-border-color: #029754;
  --alert-success-background-color: #ECFDF3;
  --alert-info-border-color: #166FEE;
  --alert-info-background-color: #F0F7FF;
}