.columns{
  &.border{
    > div{
      div{
        &:not(:last-child) {
          border-right: 1px solid rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
  > div {
    display: flex;
    flex-direction: column;

    @media (width >= 900px) {
      align-items: center;
      flex-direction: unset;
      gap: 24px;
    }

    > div {
      order: 1;

      @media (width >= 900px) {
        flex: 1;
        order: unset;
      }
    }

    > .columns-img-col {
      order: 0;

      img {
        display: block;
      }
    }
  }
  img {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  .button-container{
    a{
      color: #fff;
      background-color: transparent;
      border: 1px solid;
      font-size: 20px;
      padding-top: 14px;
      padding-bottom: 14px;
      font-weight: 400;
      width: 320px;
    }
  }
}