.columns.block {
  &.border > div div:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }

  > div {
    display: flex;
    flex-direction: column;

    > div {
      order: 1;

      > .columns-img-col {
        order: 0;

        img {
          display: block;
        }
      }
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .button-container a {
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 400;
    width: 320px;
  }

  @media (min-width: 900px) {
    > div {
      align-items: center;
      flex-direction: initial;
      gap: 24px;
    }

    > div > div {
      flex: 1;
      order: initial;
    }
  }
}
