[data-theme='villas'] {
  --elevation-raised: 0 2px 4px -2px #1018280f,0 4px 6px #1018281a;
  --elevation-hover: 0 4px 6px -2px #10182808,0 12px 12px #10182814;
  --elevation-emphasised: 0 8px 8px -4px #10182808,0 20px 20px #10182814;
  --elevation-overlay: 0 24px 48px -12px #1018282e;
}