[data-theme='flights'] {
  --button-base-border-radius: 0.5rem;
  --button-base-border: 1px solid;
  --button-base-shadow: 0 1px 2px 0 #1018280d;
  --button-base-transition: 200ms cubic-bezier(0.32, 0.94, 0.6, 1);
  --button-primary-default-background-color: #fff100;
  --button-primary-default-border-color: #fff100;
  --button-primary-default-text-color: #0F1729;
  --button-primary-hover-background-color: #d1b300;
  --button-primary-hover-border-color: #d1b300;
  --button-primary-disabled-background-color: #F1F3F8;
  --button-primary-disabled-border-color: #E9EBF1;
  --button-primary-disabled-text-color: #97A1B4;
  --button-secondary-default-background-color: #ffffff;
  --button-secondary-default-border-color: #CFD4DE;
  --button-secondary-default-text-color: #334155;
  --button-secondary-hover-background-color: #F8F9FC;
  --button-secondary-hover-text-color: #0F1729;
  --button-secondary-disabled-background-color: #ffffff;
  --button-secondary-disabled-border-color: #E9EBF1;
  --button-secondary-disabled-text-color: #97A1B4;
  --button-tertiary-default-text-color: #465568;
  --button-tertiary-hover-text-color: #334155;
  --button-tertiary-disabled-text-color: #97A1B4;
  --button-sm-text: 600 1rem/1.5rem 'Open Sans', open-sans-fallback,sans-serif;
  --button-sm-padding: 0.625rem 1rem;
  --button-sm-gap: 0.375rem;
  --button-md-text: 600 1rem/1.5rem 'Open Sans', open-sans-fallback,sans-serif;
  --button-md-padding: 0.75rem 1rem;
  --button-md-gap: 0.375rem;
  --button-lg-padding: 1rem 1.375rem;
  --button-lg-gap: 0.625rem;
  --button-lg-text: 600 1.125rem/1.75rem 'Open Sans', open-sans-fallback,sans-serif;
}