[data-theme='indulgent'] {
  --textinput-base-border-radius: 0.5rem;
  --textinput-base-border: 1px solid;
  --textinput-base-shadow: 0 1px 2px 0 #1018280d;
  --textinput-base-text: 400 1rem/1.5rem 'Open Sans', open-sans-normal-400-fallback,sans-serif;
  --textinput-base-padding: 0.563rem 0.813rem;
  --textinput-base-transition: 200ms cubic-bezier(0.32, 0.94, 0.6, 1);
  --textinput-default-text-color: #0F1729;
  --textinput-default-background-color: #ffffff;
  --textinput-default-border-color: #657186;
  --textinput-default-placeholder-color: #657186;
  --textinput-disabled-text-color: #657186;
  --textinput-disabled-background-color: #F8F9FC;
  --textinput-disabled-border-color: #CFD4DE;
  --textinput-focus-border-color: #2F8FF9;
  --textinput-error-border-color: #F04339;
}