footer{
  a{
    &:any-link {
      text-decoration: underline;
    }
  }
  .footer{
    > div {
      margin: auto;
      max-width: 1400px;
    }
    p {
      margin: 0;
    }
    .columns{
      > div {
        align-items: flex-start;
        
        div {
          display: flex;
          flex-wrap: wrap;

          h6 {
            margin: 0 0 var(--spacing-lg);
            font-size: 22px;
            flex: 1 1 100%;
          }

          ul {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
            flex: 0 1 50%;
          }

          li {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}