/* fallback font for Open Sans (normal - 400) */
@font-face {
  font-family: open-sans-fallback;
  size-adjust: 104.711%;
  src: local('Arial');
}

body {
  display: none;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font: var(--text-body-regular-md);
  letter-spacing: -0.01em;
  margin: 0;

  &.appear {
    display: block;
  }
}

header .header,
footer .footer {
  visibility: hidden;

  &[data-block-status='loaded'] {
    visibility: visible;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--text-heading-md);
  margin-bottom: 1.5rem;
  scroll-margin: 40px;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;

  img {
    height: 100%;
    width: 100%;
  }
}

main {
  > div {
    margin: 20px 0;
  }

  > .section > div {
    max-width: 1400px;
    margin: auto;
    padding: 0 24px;
  }

  .section.highlight {
    background-color: var(--color-background-secondary);
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    border-radius: 12px;
    padding: 40px 0;
  }
}

.text-align-center {
  text-align: center;
}
